<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <% if Current.user %>
        <% if Current.user.admin? %>
          <strong>Admin</strong>
        <% else %>
          <strong>Normal User</strong>
        <% end %>
          
      <% else %>
          <strong>No User</strong>
      <% end %>
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if Current.user %>
          <% if Current.user.admin? %>
            <li class="nav-item">
             <%= link_to "All Movies", admin_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Users Access", admin_user_access_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Delete Users", root_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
             <%= link_to "All Movies", movie_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Category", category_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to "Search", search_index_path	, class: "nav-link" %>
           </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <% if Current.user %>
        <li class="nav-item mt-2">
           <span class="navbar-text mt-5 pd-2 m-3"><%= Current.user.email %></span>
        </li>
        <li class="nav-item">
           <%= button_to "Logout", user_session_log_out_path, method: :delete,  class: "nav-link btn btn-secondary" %>      
        </li>
      <% else %>
         <li class="nav-item">
          <%= link_to "SuperAdmin", new_admin_user_session_path	 , class: "nav-link"%>
         </li>
        <li class="nav-item">
          <%= link_to "SignUp", user_registration_new_path , class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "LogIn", user_session_new_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>