<div class="mt-4 card text-center">
  <div class="card-header">
    <h2><strong class="text-primary">Name:  </strong><%= @movie.title.capitalize %>  </h2>
  </div>
  <div class="card-body">
  <h3> Reviews : </h3>
   <% @reviews.each do |review| %>
    <div class="row d-flex justify-content-center">
     <div class="col-md-8 col-lg-6">
      <div class="card-body p-4">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <h3 class="mb-0 ms-2"><%= "@"+review.user.username %></h3>
            </div>
            <p class="mt-2 mb-0 ms-2">: <%= review.content %></p>
          </div>
      </div>
     </div>
    <% end %>
    <% if Review.where(user_id: Current.user.id,movie_id:@movie.id) == []%>
      <div>
       <h5 class="card-title mt-3">Rate & Review</h5>
       <%= link_to 'Add Rating&Review', new_movie_review_path(@movie.id), class:"btn btn-primary mb-4" %>
      </div>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <h3>Rating :   <%= @rating %></h3>  
  </div>
</div>